<?xml version='1.0' encoding='utf-8'?>

<widget id="br.com.casadocodigo.livrojogoshtml2.formas"
        version="0.0.1" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
        
    <name>Formas</name>
    
    <description>
        Formas retangulares e poligonais
    </description>
    
    <author email="ederson_cassio@yahoo.com.br" href="http://gamecursos.com.br">
        Éderson Cássio
    </author>
    
    <content src="index.html" />
    <access origin="*" />
</widget>
